<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
  <nav>
    <ul><a href="index.html">Inicio</a></ul>
    <ul><a href="productos.html">Productos</a></ul>
    <ul><a href="">Consejos de salud</a></ul>
    <ul><a href="servicios.html">Servicio de paseos</a></ul>
    <ul><a href="sucursales.html">Sucursales</a></ul>
    <ul><a href="contacto.html">Contáctanos</a></ul>
  </nav>
  <h1>Contáctenos</h1>
  <p>
    3915 Av. General Belgrano, 388-4999999 <br>
    Lunes a Viernes: 9:00 a.m. a 8:00 p.m., <br>
    Sábado a Domingo: 9:00 a.m. a 12:30 p.m. <br>
    <a href="">contactos@mail.com.ar</a>
  </p>
  <ul>
    <li><a href="">Facebook</a></li>
    <li><a href="">Instagram</a></li>
    <li><a href="">Twitter</a></li>
  </ul>
  <hr>
  <div>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Ingrese un email válido">
  </div>
  <div>
    <label for="ciudad">Ciudad</label>
    <input type="text" name="ciudad" id="ciudad" placeholder="Ingrese su ciudad">
  </div>
  <div>
    <label for="mensaje">Mensaje</label>
    <textarea name="mensaje" id="mensaje"></textarea>
  </div>
  <button type="submit">Enviar</button>
</body>
</html>