<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <header>
		<h1>Bau baus y michis</h1>
		<img src="../static/images/perros.jpg" alt="Se muestran tres perros felices" title="Perros felices" width="400">
	</header>
	<nav>
		<ul><a href="index.html">Inicio</a></ul>
		<ul><a href="productos.html">Productos</a></ul>
		<ul><a href="">Consejos de salud</a></ul>
		<ul><a href="servicios.html">Servicio de paseos</a></ul>
		<ul><a href="">Sucursales</a></ul>
		<ul><a href="contacto.html">Contáctanos</a></ul>
	</nav>
    <section>
        <h2>Productos</h2>
        <section>
            <article>
                <h3>Alimento bonelo</h3>
                <p>Alimento de perro purina 10kg sabor carne</p>
                <img src="../static/images/alimento-bonelo.png" alt="En la imagen se observa una bolsa de alimento para perro de la marca purina" title="Alimento bonelo 10kg" width="150">
            </article>
            <article>
                <h3>Alimento whiskas</h3>
                <p>Alimento de gato whiskas 10kg sabor carne</p>
                <img src="../static/images/whiskas.jpg" alt="En la imagen se observa una bolsa de alimento para gato de la marca whiskas" title="Alimento whiskas 10kg" width="150">
            </article>
            <article>
                <h3>Cama para gatos</h3>
                <p>Cama hecha de tela y lana con la suavidad perfecta para tu mascota</p>
                <img src="../static/images/cama-gato.jpg" alt="En la imagen se observa una cama para gatos" title="Cama para gatos" width="150">
            </article>
            <article>
                <h3>Casa para perros</h3>
                <p>Casita marron de perro hecha de madera</p>
                <img src="../static/images/casa-perro.jpg" alt="En la imagen se observa una casita para perros hecha de madera" title="Casa para perros" width="150">
            </article>
        </section>
    </section>
	<footer>Copyright 2023 - Bau baus y michis - Diseñado por Grupo 11 – Jujuy – República Argentina</footer>
</body>
</html>